<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"night","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-night-background-color has-background" style="margin-top:0px;margin-bottom:0px"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|sand"}}},"typography":{"fontSize":"16px"}},"textColor":"sand"} -->
<p class="has-sand-color has-text-color has-link-color" style="font-size:16px">Free shipping on orders over $99</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"categories":["header"],"patternName":"somira/header-large-title","name":"Header with large title"},"style":{"border":{"bottom":{"width":"0px","style":"none"},"top":[],"right":[],"left":[]},"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"root","layout":{"type":"constrained","contentSize":"1440px"}} -->
<div class="wp-block-group has-root-background-color has-background" style="border-bottom-style:none;border-bottom-width:0px;margin-top:0px;margin-bottom:0px;padding-top:0;padding-bottom:0"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"center"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:site-title {"level":0,"style":{"typography":{"fontSize":"30px","lineHeight":"1.2","fontStyle":"normal","fontWeight":"800","textTransform":"uppercase"}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:0;padding-left:0"><!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"night","textColor":"white-sand","style":{"border":{"radius":"6px"},"typography":{"fontSize":"24px","lineHeight":"0.7","fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"left":"29px","right":"29px","top":"16px","bottom":"16px"}},"elements":{"link":{"color":{"text":"var:preset|color|white-sand"}}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-white-sand-color has-night-background-color has-text-color has-background has-link-color has-custom-font-size wp-element-button" style="border-radius:6px;padding-top:16px;padding-right:29px;padding-bottom:16px;padding-left:29px;font-size:24px;font-style:normal;font-weight:400;line-height:0.7">Buy</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></main>
<!-- /wp:group -->