<!-- wp:group {"metadata":{"name":"Header"},"align":"full","className":"HBG","style":{"spacing":{"padding":{"right":"0px","left":"0px"},"blockGap":"0","margin":{"top":"0px","bottom":"0"}},"position":{"type":"sticky","top":"0px"},"color":{"gradient":"linear-gradient(135deg,rgb(227,219,216) 0%,rgb(255,249,239) 100%)"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull HBG has-background" style="background:linear-gradient(135deg,rgb(227,219,216) 0%,rgb(255,249,239) 100%);margin-top:0px;margin-bottom:0;padding-right:0px;padding-left:0px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"11px","bottom":"6px","left":"27px","right":"27px"}},"position":{"type":""},"border":{"bottom":{"color":"#eaeaea","width":"1px"},"top":[],"right":[],"left":[]}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide" style="border-bottom-color:#eaeaea;border-bottom-width:1px;padding-top:11px;padding-right:27px;padding-bottom:6px;padding-left:27px"><!-- wp:site-title {"level":0,"textAlign":"center","className":"st","style":{"typography":{"fontSize":"34px","fontStyle":"normal","fontWeight":"1000"},"color":{"text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}}}} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:woocommerce/mini-cart {"miniCartIcon":"bag-alt","style":{"typography":{"fontSize":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dfont-size\u002d\u002dmedium)"}}} /-->

<!-- wp:navigation {"ref":4,"metadata":{"ignoredHookedBlocks":["woocommerce/customer-account"]},"layout":{"type":"flex","justifyContent":"center"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"desktopgpp","style":{"spacing":{"margin":{"top":"31px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group desktopgpp" style="margin-top:31px"><!-- wp:woocommerce/store-notices /-->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"0"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"512px"} -->
<div class="wp-block-column" style="flex-basis:512px"><!-- wp:woocommerce/product-image-gallery /--></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"0"}}} -->
<div class="wp-block-column"><!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"35px","fontStyle":"normal","fontWeight":"800","lineHeight":"1.1"},"spacing":{"margin":{"bottom":"0","top":"-20px"}}},"__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}},"typography":{"fontStyle":"normal","fontWeight":"200","fontSize":"15px","textDecoration":"line-through"}}} -->
<p style="margin-top:var(--wp--preset--spacing--30);font-size:15px;font-style:normal;font-weight:200;text-decoration:line-through">$ 79.99</p>
<!-- /wp:paragraph -->

<!-- wp:woocommerce/product-price {"isDescendentOfSingleProductTemplate":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","right":"0","bottom":"var:preset|spacing|30"}},"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"25px"}}} /-->

<!-- wp:woocommerce/add-to-cart-form {"quantitySelectorStyle":"stepper"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"0.67rem"},"spacing":{"padding":{"right":"0","left":"0"},"margin":{"bottom":"36px","top":"15px"}}}} -->
<p style="margin-top:15px;margin-bottom:36px;padding-right:0;padding-left:0;font-size:0.67rem">*Express shipping available | Certified secure checkout through Stripe®  | Apple Pay, Visa, Mastercard, American Express, Debit &amp; Credit Cards</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:buttons {"style":{"spacing":{"padding":{"right":"19px","left":"19px"},"margin":{"top":"19px","bottom":"47px"}}},"layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"}} -->
<div class="wp-block-buttons" style="margin-top:19px;margin-bottom:47px;padding-right:19px;padding-left:19px"><!-- wp:button {"width":100,"style":{"spacing":{"padding":{"left":"2rem","right":"2rem","top":"0.81rem","bottom":"0.81rem"}},"typography":{"fontSize":"1rem","letterSpacing":"0.1px"},"color":{"text":"#ffffff"},"elements":{"link":{"color":{"text":"#ffffff"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100"><a class="wp-block-button__link has-text-color has-link-color has-custom-font-size wp-element-button" href="https://somira.co/" style="color:#ffffff;padding-top:0.81rem;padding-right:2rem;padding-bottom:0.81rem;padding-left:2rem;font-size:1rem;letter-spacing:0.1px">View Details</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->